<div class="body">
  <img class="logoimg" src="../../assets/images/aaulogo.png" alt="aau logo" />
  <h3 class="AOL">AAU online learning</h3>
  <h5 class="slogan">
    Seek wisdom, Elevate your intellect and Serve humanity!
  </h5>
  <nav class="navbar"></nav>
  <h1 class="aboutus">About US</h1>
  <ul class="navb">
    <li class="navv"><button class="logout">Logout</button></li>
    <li class="navv"><a href="contact.html">Contact</a></li>
    <li class="navv"><a href="course list.html">Courses</a></li>
    <li class="navv"><a href="student1.html">Home</a></li>
  </ul>
  <div class="box1">
    <P
      style="
        font-weight: bold;
        font-size: 30px;
        color: black;
        margin-top: 50px;
        margin-left: 50px;
      "
      >Addis Ababa University At a Glance
    </P>
    <p
      style="
        color: black;
        padding: 40px 50px;
        font-size: 15px;
        font-family: sans-serif;
      "
    >
      Addis Ababa University (AAU), which was established in 1950 as the
      University College of Addis Ababa (UCAA), is the oldest and the largest
      higher learning and research institution in Ethiopia. Since its inception,
      the University has been the leading center in teaching-learning, research
      and community services. Beginning with enrollment capacity of 33 students
      in 1950, AAU now has 47,610 students (29,872 undergraduate, 15,398
      Master’s and 2,340 PhD students) and 8,709 staff (3,110 academics, 4,346
      admin support staff and 1253 health Professionals). In its 14 campuses,
      the University runs 70 undergraduate and 293 graduate programs (72 PhD and
      221 Masters), and various specializations in Health Sciences. Over 222,000
      students have graduated from AAU since its establishment. The University
      is led by a President who is assisted by four Vice Presidents and one
      Executive Director: Academic Vice President, Vice President for Research
      and Technology Transfer, Vice President for Administration and Student
      Services, Vice President for Institutional Development and the Executive
      Director of the College of Health Sciences (with the rank of Vice
      President). In recent years, the University has been undertaking various
      reform schemes in order to cope with and respond to the fast-changing
      national and international educational dynamics. At present the University
      has 10 colleges, 4 institutes that run both teaching and research, and 6
      research institutes that predominantly conduct research. Within these
      academic units, there are 55 departments, 12 centers, 12 schools, and 2
      teaching hospitals. The University has the following academic units:
    </p>
  </div>

  <div class="flex">
    <div style="background-image: url('../../assets/images/aau.jpg')"></div>
    <div style="background-image: url('../../assets/images/aait.jpg')"></div>
    <div style="background-image: url('../../assets/images/cncs.jpeg')"></div>
    <div style="background-image: url('../../assets/images/5kilo.webp')"></div>
    <div style="background-image: url('../../assets/images/library.jpg')"></div>
    <div style="background-image: url('../../assets/images/aau1.jpg')"></div>
    <div style="background-image: url('../../assets/images/aau2.jpg')"></div>
  </div>

  <div class="box2">
    <p
      style="
        font-weight: bold;
        font-size: 30px;
        color: black;
        margin-top: 40px;
        margin-left: 50px;
      "
    >
      Colleges
    </p>
    <p
      style="
        color: black;
        margin-top: 40px;
        padding: 20px 50px;
        font-size: 15px;
        font-family: sans-serif;
      "
    >
      College of Social Sciences<br />
      College of Humanities, Language Studies, Journalism and communication<br />
      College of Development Studies<br />
      College of Business and Economics<br />
      College of Law and Governance Studies<br />
      College of Education and Behavioral Studies<br />
      College of Natural and Computational Sciences<br />
      Skunder Boghossian College of Performing and Visual Arts<br />
      College of Veterinary Medicine and Agriculture<br />
      College of Health Sciences
    </p>
  </div>

  <div class="box3">
    <p
      style="
        font-weight: bold;
        font-size: 30px;
        color: black;
        margin-top: 40px;
        margin-left: 50px;
      "
    >
      Research and Teaching Institutes
    </p>
    <p
      style="
        color: black;
        padding: 20px 50px;
        font-size: 15px;
        font-family: sans-serif;
      "
    >
      1. Academy of Ethiopian Languages and Cultures<br />
      2. Addis Ababa Institute of Technology<br />
      3. Aklilu Lemma Institute of Pathobiology<br />
      4. Ethiopian Institute of Architecture, Building Construction and City
      Development<br />
      5. Ethiopian Institute of Water Resources<br />
      6. Institute of Biotechnology<br />
      7. Institute of Educational Research<br />
      8. Institute of Ethiopian Studies<br />
      9. Institute of Geophysics, Space Science and Astronomy<br />
      10. Institute of Peace and Security Studies<br />
      11. Academy of Ethiopian Languages and Cultures<br />
      12. Horn of Africa Regional Center and Environment Network
    </p>
  </div>

  <div class="box4">
    <p
      style="
        font-weight: bold;
        font-size: 30px;
        color: black;
        margin-top: 40px;
        margin-left: 50px;
      "
    >
      Schools
    </p>
    <p
      style="
        color: black;
        padding: 20px 50px;
        font-size: 15px;
        font-family: sans-serif;
      "
    >
      1. Alle School of Fine Arts and Design<br />
      2. School of Allied Health Sciences<br />
      3. School of Commerce<br />
      4. School of Earth and Planetary Sciences<br />
      5. School of Information Science<br />
      6. School of Journalism and Communications<br />
      7. School of Medicine<br />
      8. School of Pharmacy<br />
      9. School of Public Health<br />
      10. School of Social Work<br />
      11. Yared School of Music<br />
      12. Yoftahe Nigussie School of Theatrical Arts
    </p>
  </div>

  <P class="MOD">Meet Our Developers</P>

  <div class="box5">
    <img src="../../assets/images/m.jpg" class="devimg" />
    <P class="devname">Abrham Sisay</P>
    <p class="csgrad">2015 AAU CS graduate.</p>
    <div
      class="col-lg-3 item social"
      style="font-size: 30px; margin-left: 200px"
    >
      <a href="#"><i class="icon ion-social-facebook"></i></a>
      <a href="#"><i class="icon ion-social-twitter"></i></a>
      <a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>
  </div>

  <div class="box6">
    <img src="../../assets/images/f.jpeg" class="devimg" />
    <P class="devname">Dagmawit Dejene</P>
    <p class="csgrad">2015 AAU CS graduate.</p>
    <div
      class="col-lg-3 item social"
      style="font-size: 30px; margin-left: 200px"
    >
      <a href="#"><i class="icon ion-social-facebook"></i></a>
      <a href="#"><i class="icon ion-social-twitter"></i></a>
      <a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>
  </div>

  <div class="box7">
    <img src="../../assets/images/f.jpeg" class="devimg" />
    <P class="devname">Lidiya Yohannes</P>
    <p class="csgrad">2015 AAU CS graduate.</p>
    <div
      class="col-lg-3 item social"
      style="font-size: 30px; margin-left: 200px"
    >
      <a href="#"><i class="icon ion-social-facebook"></i></a>
      <a href="#"><i class="icon ion-social-twitter"></i></a>
      <a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>
  </div>

  <div class="box8">
    <img src="../../assets/images/m.jpg" class="devimg" />
    <P class="devname">Gedion Tadesse</P>
    <p class="csgrad">2015 AAU CS graduate.</p>
    <div
      class="col-lg-3 item social"
      style="font-size: 30px; margin-left: 200px"
    >
      <a href="#"><i class="icon ion-social-facebook"></i></a>
      <a href="#"><i class="icon ion-social-twitter"></i></a>
      <a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>
  </div>

  <div class="footer-clean" style="margin-top: 800px">
    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4 col-md-3 item">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Users</a></li>
              <li><a href="#">Feedback</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-md-3 item">
            <h3>Contact</h3>
            <ul>
              <li><a href="#">Phone No</a></li>
              <li><a href="#">Email </a></li>
              <li><a href="#">Address</a></li>
            </ul>
          </div>
          <div class="col-lg-3 item social">
            <a href="#"><i class="icon ion-social-facebook"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="#"><i class="icon ion-social-snapchat"></i></a>
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <p class="copyright">
              Addis Ababa University. <br />All Rights Reserved. © 2023
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
