<div class="navigationBar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="left-side">
        <div>
          <img
            src="assets/images/aaulogo.png"
            alt="AAU logo"
            class="aau-logo"
          />
        </div>
        <div class="slogan">
          <h2 class="main mt-3">AAU online learning</h2>
          <h4 class="secondary">
            Seek wisdom, Elevate your intellect and Serve humanity!
          </h4>
        </div>
      </div>
      <ul class="navbar-nav" routerLinkActive="active">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-5" routerLink="/about">about us</a>
        </li>
        <li class="nav-item">
          <button class="btn-sm mt-1" (click)="logout()">log out</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
