.container{
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.table-bordered.rounded {
    border-radius: 10px;
}
.remove-btn {
    background-color: #ff0909;
    color: white;
    align-self: center;
}

.remove-btn:hover {
    background-color: white;
    color: #ff0909;
}
.question{
    border: 1px solid;
    border-radius: 5px;
}
#question{
    width: 100%;
}
.btn-next-page{
   margin-left: auto;
}