<div class="h3 my-2 text-center">BY {{ assignmentSolution.uploader }}</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between p-md-1">
      <div class="d-flex flex-row">
        <div class="align-self-top">
          <i class="fa fa-book fa-lg me-4"></i>
        </div>
        <div>
          <h4 class="truncate">
            {{ assignmentSolution.assignmentSolutionName }}
          </h4>
          <p
            class="courseMaterial-description text-muted"
            style="white-space: pre-wrap"
          >
            <span class="bullet">&#8226;</span>
            {{ assignmentSolution.assignmentSolutionDescription }}
          </p>
          <p class="mb-0">
            {{
              assignmentSolution.assignmentSolutionSize! / 1048576
                | number : "1.2-2"
            }}
            MB
          </p>
        </div>
      </div>
      <div class="align-self-center d-flex flex-column me-1">
        <button
          class="btn btn-sm"
          (click)="
            downloadFile(
              assignmentSolution.assignmentSolutionId!,
              assignmentSolution.assignmentSolutionName!
            )
          "
        >
          download
        </button>
      </div>
    </div>
  </div>
</div>
