<div class="full-container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="brand">
        <div
          class="home-logo col-md-2 col-sm-1"
          (click)="changeRoute('/courses')"
        >
          <i class="fa fa-home" style="color: #1da1f2"></i>
        </div>
        <h2 class="col-10 course-name">{{ course.courseName }}</h2>
      </a>
      <div class="right-side d-none d-lg-flex">
        <div>
          <img
            src="assets/images/aaulogo.png"
            alt="AAU logo"
            class="aau-logo"
          />
        </div>
        <div class="slogan">
          <h2 class="main mt-3"><span>AAU</span> online learning</h2>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div *ngIf="showSideBar" class="side-bar col-lg-3 col-12">
        <div class="hide-button" (click)="toogleSideBar()">&#10005; Hide</div>
        <div class="side-bar-container">
          <div
            [ngClass]="{
              'side-bar-items': !showCourseMaterial,
              'side-bar-item-clicked': showCourseMaterial
            }"
            (click)="toogleSideBarItems(1)"
          >
            Course Materials
          </div>
        </div>
        <div
          [ngClass]="{
            'side-bar-items': !showTopic,
            'side-bar-item-clicked': showTopic
          }"
          (click)="toogleSideBarItems(2)"
        >
          Topics
        </div>
        <div *ngIf="showTopic">
          <div class="side-bar-sub-items" *ngFor="let topic of topics">
            <div (click)="toogleSideBarItems(3, topic)">
              {{ topic.topicTitle }}
            </div>
            <i
              class="fa fa-trash delete-topic-icon"
              (click)="deleteTopic(topic.topicId)"
            ></i>
          </div>
        </div>
        <div
          [ngClass]="{
            'side-bar-items': !showExam,
            'side-bar-item-clicked': showExam
          }"
          (click)="toogleSideBarItems(4)"
        >
          Exams
        </div>
        <div
          [ngClass]="{
            'side-bar-items': !showAssignment,
            'side-bar-item-clicked': showAssignment
          }"
          (click)="toogleSideBarItems(5)"
        >
          Assignments
        </div>
      </div>
      <div
        *ngIf="!showSideBar"
        class="showSideBar-Icon col-1"
        (click)="toogleSideBar()"
      >
        ≡
      </div>
      <div class="main-content col-lg-8 col-md-12" style="overflow: auto">
        <section *ngIf="showCourseMaterial">
          <div class="row">
            <div class="col-10 mt-3 mb-1">
              <h5 class="text-uppercase">Course Materials</h5>
              <p>your course materials for this course are listed below</p>
            </div>
            <div class="col-2">
              <button
                class="btn align-items-bottom mt-3"
                (click)="uploadCourseMaterial()"
              >
                Add new course material
              </button>
            </div>
          </div>
          <div class="row">
            <h3
              class="text-muted"
              *ngIf="!courseMaterials || !courseMaterials.length"
            >
              No Course Materials yet
            </h3>
            <div
              class="col-12 mb-4"
              *ngFor="let courseMaterial of courseMaterials"
            >
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-top">
                        <i class="fa fa-book fa-lg me-4"></i>
                      </div>
                      <div>
                        <h4 class="truncate">
                          {{ courseMaterial.courseMaterialName }}
                        </h4>
                        <p
                          class="courseMaterial-description text-muted"
                          style="white-space: pre-wrap"
                        >
                          <span class="bullet">&#8226;</span>
                          {{ courseMaterial.courseMaterialDescription }}
                        </p>
                        <p class="mb-0">
                          {{
                            courseMaterial.courseMaterialSize / 1048576
                              | number : "1.2-2"
                          }}
                          MB
                        </p>
                      </div>
                    </div>
                    <div class="align-self-center d-flex flex-column me-1">
                      <button
                        class="btn btn-sm"
                        (click)="
                          downloadFile(
                            courseMaterial.courseMaterialId,
                            courseMaterial.courseMaterialName
                          )
                        "
                      >
                        download
                      </button>
                      <button
                        class="btn btn-sm delete-button"
                        (click)="deleteCourseMaterial(courseMaterial)"
                      >
                        delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section *ngIf="showTopic">
          <div class="row topic-form">
            <div class="col-sm-10 border mb-5">
              <form #myForm="ngForm">
                <div><h3 class="text-center">Add new topic</h3></div>
                <div class="form-control mb-2">
                  <div>
                    <label><b>topic-title</b></label>
                  </div>
                  <input
                    name="title"
                    [(ngModel)]="topic_title"
                    id="title"
                    placeholder="Add title"
                    required
                  />
                </div>
                <div class="form-control col-6">
                  <div class="mb-2">
                    <label><b>topic-description</b></label>
                  </div>
                  <input
                    name="description"
                    [(ngModel)]="topic_description"
                    id="description"
                    placeholder="Add description"
                    required
                  />
                </div>
                <div style="display: grid; place-items: center" class="mt-1">
                  <button
                    class="btn submit ml-4"
                    type="submit"
                    [disabled]="!myForm.valid"
                    (click)="addTopic()"
                  >
                    add
                  </button>
                </div>
              </form>
            </div>
            <div class="row justify-content-between">
              <div class="col-lg-5 col-sm-12 border mt-3 mb-3">
                <form #myForm1="ngForm">
                  <div><h3 class="text-center">edit topic title</h3></div>
                  <div class="form-control mb-2">
                    <div>
                      <label><b>topic title</b></label>
                    </div>
                    <input
                      name="title"
                      [(ngModel)]="newTitle"
                      id="title"
                      placeholder="Add new title"
                      required
                    />
                  </div>
                  <div class="form-control col-6">
                    <select
                      name="topic"
                      id="topic"
                      class="topic"
                      [(ngModel)]="editedTopicForTitle"
                      required
                    >
                      <option value="">-- Select a topic --</option>
                      <option
                        *ngFor="let topic of topics"
                        [value]="topic.topicId"
                      >
                        {{ topic.topicTitle }}
                      </option>
                    </select>
                  </div>
                  <div style="display: grid; place-items: center" class="mt-1">
                    <button
                      class="btn submit ml-4"
                      type="submit"
                      [disabled]="!myForm1.valid"
                      (click)="editTopicName()"
                    >
                      edit title
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-lg-5 col-sm-12 border my-3 mt-3">
                <form #myForm2="ngForm">
                  <div><h3 class="text-center">edit topic description</h3></div>
                  <div class="form-control mb-2">
                    <div>
                      <label><b>topic description</b></label>
                    </div>
                    <input
                      name="description"
                      [(ngModel)]="newDescription"
                      id="description"
                      placeholder="Add new description"
                      required
                    />
                  </div>
                  <div class="form-control col-6">
                    <select
                      name="topic"
                      id="topic"
                      class="topic"
                      [(ngModel)]="editedTopicForDescription"
                      required
                    >
                      <option value="">-- Select a topic --</option>
                      <option
                        *ngFor="let topic of topics"
                        [value]="topic.topicId"
                      >
                        {{ topic.topicTitle }}
                      </option>
                    </select>
                  </div>
                  <div style="display: grid; place-items: center" class="mt-1">
                    <button
                      class="btn submit ml-4"
                      type="submit"
                      [disabled]="!myForm2.valid"
                      (click)="editTopicDescription()"
                    >
                      edit title
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section *ngIf="showLesson">
          <div class="row">
            <div class="col-10 mt-3 mb-1">
              <h5 class="text-uppercase">
                Lessons for Topic: <b>{{ topicTitle }}</b>
              </h5>
              <p class="text-muted">Description: {{ topicDescription }}</p>
            </div>
            <div class="col-2">
              <button
                class="btn align-items-bottom mt-3"
                (click)="addLesson(topicId!)"
              >
                Add lesson
              </button>
            </div>
          </div>
          <div class="row">
            <h3 class="text-muted" *ngIf="!lessons || !lessons.length">
              No lessons yet
            </h3>
            <div class="col-12 mb-4" *ngFor="let lesson of lessons">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center me-2">
                        <i class="material-icons">video_library</i>
                      </div>
                      <div>
                        <h4 class="truncate">
                          {{ lesson.lessonTitle }}
                        </h4>
                        <p
                          class="courseMaterial-description text-muted"
                          style="white-space: pre-wrap"
                        >
                          <span class="bullet">&#8226;</span>
                          {{ lesson.lessonDescription }}
                        </p>
                      </div>
                    </div>
                    <div class="align-self-center d-flex flex-column me-1">
                      <button
                        class="btn btn-outline-dark mb-0"
                        (click)="activateVideo(lesson.lessonVideoId)"
                      >
                        view lesson
                      </button>
                      <button
                        class="btn btn-sm delete-button"
                        (click)="deleteLesson(lesson.lessonId)"
                      >
                        delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section *ngIf="showVideo">
          <h3>Lesson</h3>
          <hr />
          <div class="youtube">
            <div class="h3"></div>
            <app-video [videoId]="videoId!"></app-video>
          </div>
        </section>
        <section *ngIf="showExam">
          <div class="row">
            <div class="col-12 mt-3 mb-1">
              <div class="row">
                <div class="col-10 mt-3 mb-1">
                  <h5 class="text-uppercase">Exams</h5>
                  <p>exams for this course are listed below</p>
                </div>
                <div class="col-2">
                  <button
                    class="btn align-items-bottom mt-3"
                    (click)="addExam()"
                  >
                    Add new exam
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <h3
              class="text-muted"
              *ngIf="!examQuestions || !examQuestions.length"
            >
              No Exams yet
            </h3>
            <div
              class="col-11 mb-4 exams-container"
              *ngFor="let exam of examQuestions"
            >
              <div class="exam">
                <div
                  class="exam-name align-self-center h4"
                  (click)="expand(exam)"
                >
                  <i class="bi bi-caret-down-fill"></i> &nbsp;&nbsp;&nbsp;{{
                    exam.examName
                  }}
                </div>
                <div *ngIf="exam.expanded">
                  <div class="exam-details">
                    <ul>
                      <li>
                        weight: <b>{{ exam.weight }}</b>
                      </li>
                      <li>
                        start Date & Time:<b>
                          {{ formatDate(exam.startTime) }}</b
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex">
                    <button
                      class="btn btn-sm"
                      (click)="displayAnswer(exam.examId)"
                    >
                      answers
                    </button>
                    <button class="btn btn-sm">edit exam</button>
                  </div>
                </div>
              </div>
              <div
                class="align-self-center d-flex flex-column me-1"
                style="margin-left: auto"
              >
                <button
                  class="btn btn-outline-dark mb-0"
                  (click)="toogleSideBarItems(6, undefined, exam)"
                >
                  edit questions
                </button>
                <button
                  class="btn btn-sm delete-button"
                  (click)="deleteExam(exam.examId)"
                >
                  delete
                </button>
              </div>
              <hr />
            </div>
          </div>
        </section>
        <section *ngIf="showAssignment">
          <div class="row">
            <div class="col-10 mt-3 mb-1">
              <h5 class="text-uppercase">Assignments</h5>
              <p>assignments for this course are listed below</p>
            </div>
            <div class="row col-md-2 col-4 mb-sm-2 mb-md-auto uploadButton">
              <button class="btn btn-sm" (click)="addAssignment()">
                add assignment
              </button>
            </div>
          </div>
          <div class="row">
            <h3 class="text-muted" *ngIf="!assignments || !assignments.length">
              No Assignments yet
            </h3>
            <div class="col-12 mb-4" *ngFor="let assignment of assignments">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-top">
                        <i class="fa fa-book fa-lg me-4"></i>
                      </div>
                      <div>
                        <h4 class="truncate">
                          {{ assignment.assignmentName }}
                        </h4>
                        <p
                          class="courseMaterial-description text-muted"
                          style="white-space: pre-wrap"
                        >
                          <span class="bullet">&#8226;</span>
                          {{ assignment.assignmentDescription }}
                        </p>
                        <p class="mb-0">
                          {{
                            assignment.assignmentSize / 1048576
                              | number : "1.2-2"
                          }}
                          MB
                        </p>
                      </div>
                    </div>
                    <div class="align-self-center d-flex flex-column me-1">
                      <button
                        class="btn btn-sm"
                        (click)="
                          downloadFile(
                            assignment.assignmentId,
                            assignment.assignmentName
                          )
                        "
                      >
                        download
                      </button>
                      <button
                        class="btn btn-sm"
                        (click)="
                          displayAssignmentSolution(assignment.assignmentId)
                        "
                      >
                        solutions
                      </button>
                      <button
                        class="btn btn-sm delete-button"
                        (click)="deleteAssignment(assignment.assignmentId)"
                      >
                        delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section *ngIf="showQuestion">
          <app-exam [examId]="examId"></app-exam>
        </section>
        <section *ngIf="showAssignmentSolution">
          <app-assignment-solution
            [assignmentSolution]="assignmentSolution!"
          ></app-assignment-solution>
        </section>
        <section *ngIf="showExamSolution">
          <app-exam-solution [examSolution]="examSolution!"></app-exam-solution>
        </section>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
